html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

p {text-align: center;}

/* 12 COLUMN GRID SYSTEM */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {border: dashed red 1px;}

@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}	
} // end loop